<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/common.css}" href="/styles/common.css" rel="stylesheet"/>
</head>
<body>
<div class="page-sidebar" th:fragment="left_side">
    <div class="sidebar-menugroup">
        <div class="sidebar-grouptitle">个人中心</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menuitem"><a href="/notifications" th:href="@{/mt/notifications.html}">最新通知</a></li>
            <li class="sidebar-menuitem active"><a href="/mybookings" th:href="@{/mt/bookings}">我的预定</a></li>
        </ul>
    </div>
    <div class="sidebar-menugroup">
        <div class="sidebar-grouptitle">人员管理</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menuitem"><a href="/register" th:href="@{/emp/register}">信息修改</a></li>
            <div th:if="${session.user.role}==2">
                <li class="sidebar-menuitem"><a href="/admin/departments" th:href="@{/admin/dept/}">部门管理</a></li>
                <li class="sidebar-menuitem"><a href="/admin/approveaccount" th:href="@{/admin/mt/approve}">注册审批</a></li>
                <li class="sidebar-menuitem"><a href="/admin/searchemployees?status=1" th:href="@{/admin/emp/search}">搜索员工</a></li>
            </div>
        </ul>
    </div>
    <div class="sidebar-menugroup">
        <div class="sidebar-grouptitle">会议预定</div>
        <ul class="sidebar-menu">
            <div th:if="${session.user.role}==2">
                <li class="sidebar-menuitem"><a href="/admin/addmeetingroom" th:href="@{/admin/mtr/add}">添加会议室</a></li>
            </div>
            <li class="sidebar-menuitem"><a href="/meetingrooms" th:href="@{/mtr/}">查看会议室</a></li>
            <li class="sidebar-menuitem"><a href="/bookmeeting" th:href="@{/mt/book}">预定会议</a></li>
            <li class="sidebar-menuitem"><a href="/searchmeetings" th:href="@{/mt/search}">搜索会议</a></li>
        </ul>
    </div>
</div>
<div class="page-header" th:fragment="top">
    <div class="header-banner">
        <img th:src="@{/images/header.png}" src="../images/header.png" alt="Meeting"/>
    </div>
    <div class="header-title">
        欢迎访问Meeting会议管理系统
    </div>
    <div class="header-quicklink">
        欢迎您
        <!-- <#if currentUser??>
            <#if currentUser.role==2>
                <strong>${currentUser.employeeName!''}-admin</strong>
            <#else >
                <strong>${currentUser.employeeName!''}</strong>
            </#if>
        </#if> -->
        <strong th:text="${session.user.role}==2?${session.user.employeeName}+'-管理员':${session.user.employeeName}+'-普通用户'">${currentUser.employeeName!''}</strong>
        <a th:href="@{/logout}" href="/logout">[退出]</a>
        <a th:href="@{/changePwd}" href="/changePwd">[修改密码]</a>
    </div>
</div>
</body>
